.flex {
  display : flex;
  flex-direction: row;
  height : 50px;
}

.flex2 {
  display : flex;
  background-color : lightpink;
  width : 100px;
  align-items: center;
  justify-content: center;
}

.div1 {
  background-color : black;
  color : white;
}

.div2 {
  background-color : lightblue;
  width : 200px;
}