p {
  font-family : arial;
  margin-top : 0px;
  margin-bottom : 0px;
}

.shopping-text {
  font-weight : bold;
  font-size : 30px;
  margin-bottom : 20px;
}

.see-text {
  margin-left : 80px;
  font-size : 17px;
  margin-bottom : 20px;
}

.learn-text {
  color : blue;
  margin-left : 155px;
  font-size : 17px;
  cursor : pointer;
}