p {
  font-family : arial;
  margin-top : 0px;
  margin-bottom : 0px;
}

.free {
  font-weight : bold;
  margin-bottom : 8px;
}

.free1h {
  color : rgb(96, 96, 96);
  margin-bottom : 8px;
}

.as {
  width : 500px;
  margin-bottom : 15px;
  margin-top : 6px;
  line-height : 20px;
}

.chp {
  color : rgb(29, 155, 240);
}